#container {
    width: 95%;
    margin: auto;
}
* {
    font-family: century-gothic, sans-serif;
}
body {
    padding: 0px;
    margin: 0px;
    position: relative;
}
#fix {
    position: fixed;
    top: 88%;
    left: 94%;
}
#cartlogo{
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("images/shopping-bag.png");
    background-size: contain;
    background-repeat: no-repeat;
}
#cartlogo > a {
    margin-top: 10px;
}
#uper {
    background-color: rgb(133, 121, 121);
    width: 100%;
    height: 40px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#headnav {
    margin-top: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#headnav>input {
    height: 45px;
    width: 60%;
}
#headnav>h1 {
    margin-right: -10%;
}
#nav {
    width: 100%;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}
#nav a {
    text-decoration: none;
    color: rgb(65, 65, 65);
}
#nav > li:first-child > a {
    color: red;
}
#sign>p {
    color: rgb(65, 65, 65);
    text-align: center;
    font-size: 18px;
    text-decoration: none;
}
#sign {
    margin-top: 20px;
    text-align: center;
}

#sign>button {
    background-color: white;
    padding: 10px 40px 10px 40px;
    border: 1px solid;
}
#sign>button:hover{
    background-color: whitesmoke;
    border: 1px solid white;
}

#footer{
  
    display: grid;
    grid-template-columns: repeat(6,16%);
    color: rgb(17, 16, 16);
    margin-top: 100px;
    justify-content: center;
    background-color: #FBF8F1;
}
#footer p{
    font-size: 14px;
}
a{
    text-decoration: none;
    color: black;
}
#footer>div p:hover {
    text-decoration: underline 2px;
}
.FH{
    color: black;
}
#headnav input{
    margin-left: 150px;
}
.cat{
    display: none;
    position: absolute;
    left: 0px;
    top: 182px;
}
#nav :hover .cat{
    width: 90%;
    margin: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    background-color: white;
    padding: 30px;
}
.ddInside {
    display: none;
    position: absolute;
    left: 77%;
    top: 106px;
    
}
.ddInside p:hover  {
    text-decoration: underline;
    cursor: pointer;
}
#ddSignup :hover .ddInside {
    width: 20%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 20px;
}
/* .ddInside img {
    margin-right: 6px;
    height: 17px;
} */
#logoutDiv {
    background-color: black;
    color: white;
    text-align: center;
    cursor: pointer;
}
#logoutDiv a {
    color: white;
}
.cat>div{
    width: 16%;
    margin: 0px;
    margin-top: 0px;
    font-family: Brandon Text,Arial,sans-serif;
    cursor: pointer;
}
.cat>div>p{
    color: #393939;
}
.cat>div>img:nth-child(1){
    width: 20%;
    margin-left: 75%;
}
.cat>div>img:nth-child(2){
    width: 100%;
}
.cat>div>h4:hover,.cat>div>p:hover{
    text-decoration: underline;
    text-decoration-thickness: 2px;
    border-color: black;
    color: darkorange;
}
#lastLine {
    padding: 2%;
    background-color: #FBF8F1;
}
#lastLine > span {
    margin-right: 40px;
    font-size: 13px;
    color: grey;
}
#lastLine span:hover {
    text-decoration: underline 2px;
}
#smDiv {
    display: flex;
    flex-direction: column;
}
#smDiv > div:nth-child(1){
    margin-top: 20px;
    margin-bottom: 20px;
}
#smDiv > div:nth-child(1) img {
    height: 25px;

}
#smDiv > div:nth-child(2) img {
    height: 25px;
    margin: 5px;
    
}
#smDiv > div:nth-child(2) img:nth-child(5) {
    height: 20px;
    margin-bottom: 10px;
}

